<!DOCTYPE html>
<html lang="en">
  
<head>
  <title><%= lang_data.Image %></title>
    <%- include('./partials/meta'); -%>
  </head>
  <body>

    <img src="../../uploads/<%= img %>" alt="image" style="width: 100%; height: 100vh;" >
        
    <%- include('./partials/script'); -%>

  </body>

</html>